## Lahman's Baseball Data Science project

<p>Stats for active players that have played at least 50 games in their careers<p>

In [21]:
import pandas as pd
from IPython.core.display import display
import numpy as np
import matplotlib.pyplot as plt

players = pd.read_csv('People.csv')
batting = pd.read_csv('Batting.csv')

display(players.head())
display(players.columns)
print('\n')
display(batting.head())
display(batting.columns)

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

<p>Creating a df that has only active players</p>

In [19]:
# Performing a boolean mask to filter active players
# Ensure that the finalGame is a date field
players['finalGame'] = pd.to_datetime(players['finalGame'])

# Setting the start and end date
start_date = '2019-12-31'
end_date = "2020-12-31"

# Set the mask
mask = (players['finalGame'] > start_date) & (players['finalGame'] <= end_date)

# Display just the rows for players with finalGame in 2020
active_players = players.loc[mask]
display(active_players.shape)

(1015, 24)

<p>Calculated columns for DOB and Full Name</p>

In [32]:
# Using the f" to format
year = active_players['birthYear'].apply(lambda x: f'{x:.0f}')
month = active_players['birthMonth'].apply(lambda x: f'{x:.0f}')
day = active_players['birthDay'].apply(lambda x: f'{x:.0f}')

# Concate birth year, month, day
dob =  year + "-" + month + "-" + day

# Add column with birth info
active_players['DOB'] = dob

# Ensure that DOB is a date field
active_players['DOB'] = pd.to_datetime(active_players['DOB'])

display(active_players.head())

(1015, 27)

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,height,bats,throws,debut,finalGame,retroID,bbrefID,dateOFBirth,dateOfBirth,DOB
33,abreual01,1995.0,9.0,26.0,D.R.,Monte Cristi,Guayubin,NaN,NaN,NaN,...,74.0,R,R,2020-08-08,2020-08-08,NaN,NaN,1995.09.026.0,1995-9-26,1995-09-26
35,abreubr01,1997.0,4.0,22.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,...,73.0,R,R,2019-07-31,2020-08-04,abreb002,abreubr01,1997.04.022.0,1997-4-22,1997-04-22
37,abreujo02,1987.0,1.0,29.0,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,...,75.0,R,R,2014-03-31,2020-08-08,abrej003,abreujo02,1987.01.029.0,1987-1-29,1987-01-29
58,acunaro01,1997.0,12.0,18.0,Venezuela,Vargas,La Guaira,NaN,NaN,NaN,...,72.0,R,R,2018-04-25,2020-08-08,acunr001,acunaro01,1997.012.018.0,1997-12-18,1997-12-18
63,adamewi01,1995.0,9.0,2.0,D.R.,Santiago,Santiago,NaN,NaN,NaN,...,72.0,R,R,2018-05-22,2020-08-08,adamw002,adamewi01,1995.09.02.0,1995-9-2,1995-09-02