## Lahman's Baseball Data Science project

<p>Import the data<p>

In [64]:
import pandas as pd
from IPython.core.display import display
import numpy as np
import matplotlib.pyplot as plt

col = ['playerID','G', 'AB', 'R','H', '2B', '3B', 'HR', 'RBI','SB', 'CS','BB','SO', 'IBB','HBP', 'SH', 'SF', 'GIDP']

players = pd.read_csv('People.csv')
batting = pd.read_csv('Batting.csv', usecols=col)

display(players.head())
display(players.columns)
print('\n')
display(batting.head())
display(batting.columns)

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

,playerID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,27,133,28,44,10,2,2,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,25,120,29,39,11,3,0,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

Index(['playerID', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS',
       'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP'],
      dtype='object')

<p>Get the overall totals for each</p>

In [65]:
# Groupby 'playerID' to get the total number of games for each player
batting_group = batting.groupby('playerID', sort=True).sum()
player_totals = batting_group.reset_index()
player_totals.head(10)

,playerID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,331,4,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0
1,aaronha01,3298,12364,2174,3771,624,98,755,2297.0,240.0,73.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0
2,aaronto01,437,944,102,216,42,6,13,94.0,9.0,8.0,86,145.0,3.0,0.0,9.0,6.0,36.0
3,aasedo01,448,5,0,0,0,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
4,abadan01,15,21,1,2,0,0,0,0.0,0.0,1.0,4,5.0,0.0,0.0,0.0,0.0,1.0
5,abadfe01,384,9,0,1,0,0,0,0.0,0.0,0.0,0,5.0,0.0,0.0,0.0,0.0,1.0
6,abadijo01,12,49,4,11,0,0,0,5.0,1.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
7,abbated01,855,3044,355,772,99,43,11,324.0,142.0,0.0,289,283.0,0.0,33.0,93.0,0.0,0.0
8,abbeybe01,79,225,21,38,3,3,0,17.0,3.0,0.0,21,54.0,0.0,0.0,6.0,0.0,0.0
9,abbeych01,452,1756,307,493,67,46,19,280.0,93.0,0.0,167,122.0,0.0,23.0,19.0,0.0,0.0

Merge

In [66]:
new_players = pd.merge(player_totals, players, on='playerID')
display(new_players.head())

,playerID,G,AB,R,H,2B,3B,HR,RBI,SB,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,331,4,0,0,0,0,0,0.0,0.0,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,3298,12364,2174,3771,624,98,755,2297.0,240.0,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,437,944,102,216,42,6,13,94.0,9.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,448,5,0,0,0,0,0,0.0,0.0,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,15,21,1,2,0,0,0,0.0,0.0,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

<p>Added calculate columns, removed columns & cleaned up empty rows</p>

In [67]:
# Using the f" to format
year = new_players['birthYear'].apply(lambda x: f'{x:.0f}')
month = new_players['birthMonth'].apply(lambda x: f'{x:.0f}')
day = new_players['birthDay'].apply(lambda x: f'{x:.0f}')

# Concate birth year, month, day
dob =  year + "-" + month + "-" + day
# Add column with birth info
new_players['DOB'] = dob

new_players['fullName'] = new_players['nameFirst'].astype(str) + " " + new_players['nameLast'].astype(str)

new_players.drop(['birthYear', 'birthMonth', 'birthDay', 'nameFirst', 'nameLast', 'retroID', 'bbrefID'], axis=1, inplace=True)
# Drop rows with all 'na'
new_players = new_players.dropna(how='all')

display(new_players.head())

,playerID,G,AB,R,H,2B,3B,HR,RBI,SB,...,deathCity,nameGiven,weight,height,bats,throws,debut,finalGame,DOB,fullName
0,aardsda01,331,4,0,0,0,0,0,0.0,0.0,...,NaN,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,1981-12-27,David Aardsma
1,aaronha01,3298,12364,2174,3771,624,98,755,2297.0,240.0,...,NaN,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,1934-2-5,Hank Aaron
2,aaronto01,437,944,102,216,42,6,13,94.0,9.0,...,Atlanta,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,1939-8-5,Tommie Aaron
3,aasedo01,448,5,0,0,0,0,0,0.0,0.0,...,NaN,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,1954-9-8,Don Aase
4,abadan01,15,21,1,2,0,0,0,0.0,0.0,...,NaN,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,1972-8-25,Andy Abad

In [68]:
display(type(new_players['G']))
display(type(new_players['finalGame']))

pandas.core.series.Series

pandas.core.series.Series

Create Dataframe for active players who have played at least 50 games in there career

In [70]:
new_players['finalGame'] = pd.to_datetime(new_players['finalGame'])
new_players['G'] = pd.to_numeric(new_players['G'])

start_date = '2020-04-01'
min_games = 50

mask = (new_players['finalGame'] > start_date) & (new_players['G'] >= min_games)

active_players = new_players.loc[mask]
display(active_players.head())
display(active_players.shape)

,playerID,G,AB,R,H,2B,3B,HR,RBI,SB,...,deathCity,nameGiven,weight,height,bats,throws,debut,finalGame,DOB,fullName
36,abreujo02,901,3547,483,1038,218,14,179,611.0,10.0,...,NaN,José Dariel,250.0,75.0,R,R,2014-03-31,2020-08-08,1987-1-29,José Abreu
56,acunaro01,267,1059,205,302,48,6,67,165.0,53.0,...,NaN,Ronald Jose,205.0,72.0,R,R,2018-04-25,2020-08-08,1997-12-18,Ronald Acuna
60,adamewi01,237,819,112,215,32,1,30,86.0,10.0,...,NaN,Willy Rafael,210.0,72.0,R,R,2018-05-22,2020-08-08,1995-9-2,Willy Adames
85,adamsma01,818,2336,290,609,127,6,116,388.0,4.0,...,NaN,Matthew James,245.0,75.0,L,R,2012-05-20,2020-08-04,1988-8-31,Matt Adams
116,adriaeh01,422,990,133,246,56,7,16,111.0,17.0,...,NaN,Ehire Enrique,195.0,73.0,B,R,2013-09-08,2020-08-08,1989-8-21,Ehire Adrianza

(723, 36)