## Lahman's Baseball Data Science project

<p>We are going to take a look into stats for active players that have played at least 50 games in their careers<p>

In [10]:
import pandas as pd
from IPython.core.display import display

players = pd.read_csv('People.csv')
batting = pd.read_csv('Batting.csv')

display(players.head())
display(batting.head())

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [11]:
players.info()

print('\n')

batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19965 entries, 0 to 19964
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      19965 non-null  object
 1   birthYear     19851 non-null  float64
 2   birthMonth    19683 non-null  float64
 3   birthDay      19541 non-null  float64
 4   birthCountry  19904 non-null  object
 5   birthState    19415 non-null  object
 6   birthCity     19792 non-null  object
 7   deathYear     9826 non-null   float64
 8   deathMonth    9825 non-null   float64
 9   deathDay      9824 non-null   float64
 10  deathCountry  9822 non-null   object
 11  deathState    9772 non-null   object
 12  deathCity     9817 non-null   object
 13  nameFirst     19928 non-null  object
 14  nameLast      19965 non-null  object
 15  nameGiven     19928 non-null  object
 16  weight        19148 non-null  float64
 17  height        19228 non-null  float64
 18  bats          18785 non-null  object
 19  throws        18988 non-null  object
 20  debut         19770 non-null  object
 21  finalGame     19770 non-null  object
 22  retroID       19904 non-null  object
 23  bbrefID       19958 non-null  object
dtypes: float64(8), object(16)
memory usage: 3.7+ MB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107429 entries, 0 to 107428
Data columns (total 22 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   playerID  107429 non-null  object
 1   yearID    107429 non-null  int64
 2   stint     107429 non-null  int64
 3   teamID    107429 non-null  object
 4   lgID      106691 non-null  object
 5   G         107429 non-null  int64
 6   AB        107429 non-null  int64
 7   R         107429 non-null  int64
 8   H         107429 non-null  int64
 9   2B        107429 non-null  int64
 10  3B        107429 non-null  int64
 11  HR        107429 non-null  int64
 12  RBI       106673 non-null  float64
 13  SB        105061 non-null  float64
 14  CS        83888 non-null   float64
 15  BB        107429 non-null  int64
 16  SO        105329 non-null  float64
 17  IBB       70778 non-null   float64
 18  HBP       104612 non-null  float64
 19  SH        101360 non-null  float64
 20  SF        71325 non-null   float64
 21  GIDP      81988 non-null   float64
dtypes: float64(9), int64(10), object(3)
memory usage: 18.0+ MB

In [6]:
player_and_batting = pd.merge(players, batting, on='playerID')

display(player_and_batting.head())

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0